body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #dceffa;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container:hover .image-overlay {
  opacity: 1;
}
